In [47]:
import pandas as pd
import numpy as np

In [48]:
df = pd.read_csv("final0108.csv", sep=",")
df.dropna(inplace=True)  #결측치제거
df = df.reset_index(drop=True) #인덱스 초기화, 안하면 에러남

In [49]:
df_up = df[df['labeling'] == 'up']      #up 데이터 프레임과 down 데이터프레임 만들기
df_down = df[df['labeling']== 'down']

df_up

,date,title,content,ngrams,labeling
0,2007.01.03,<DTI 규제 확대..선의피해자 막기 '고심'>(종합2보),"3일 대출한도 문의 '빗발'..외국銀으로 발길 돌리기도 국민銀, 본점승인 예외 ...","출한/NNG,문의/NNG,빗발/NNG,외국/NNG,銀/NNG,발길/NNG,돌리/VV...",up
1,2007.01.03,코스피 낙폭확대..외국인매도 점증,외국계증권사 창구 한곳서 매도 몰려 3일 코스피시장의 낙폭이 오후들어 확대되고 ...,"외국/NNG,창구/NNG,곳/NNG,매도/NNG,몰리/VV,코스피/NNG,시장/NN...",up
2,2007.01.03,"中, 4일부터 은행간 기준금리 `시보` 적용",중국 중앙은행인 인민은행은 4일부터 은행간 자금대출 기준금리인 `시보`를 금융...,"은행/NNG,자금/NNG,대출/NNG,금리/NNG,시보/NNG,금융시장/NNG,적용...",up
3,2007.01.03,"DTI폭탄, 무주택 서민 ""정조준""","연소득 3000만원, 대출가능금액 9500만원으로 축소 연소득 1억원은 3억원까...","연소득/NNG,대출/NNG,가능/NNG,금액/NNG,축소/NNG,연소득/NNG,빌리...",up
4,2007.01.03,학자금 대출이 왜 이리 비싸지?,주택금융公 학자금대출 고금리 논란 올 1학기 금리 6.59% `이자 비싸다` v...,"주택/NNG,금융/NNG,公/NNG,대출/NNG,고금리/NNG,논란/NNG,오/VV...",up
...,...,...,...,...,...
102544,2020.12.31,"[청년주거정책]40만 청년가구에 저금리, 전월세 자금 지원",제1차 청년정책 기본계획 의결 2025년까지 40만 청년가구에 저금리로 전월세 자...,"정책/NNG,기본계획/NNG,의결/NNG,저금리/NNG,전월세/NNG,자금/NNG,...",up
102545,2020.12.31,"노웅래 ""부동산정책, 50점 이상 못줘…서울 고밀도 개발해야""","""변창흠 공급대책, 민간도 포함해야""더불어민주당 노웅래 최고위원 더불어민주당 노...","공급/NNG,대책/NNG,민간/NNG,포함/NNG,하/VV,더불/VV,더불/VV,부...",up
102546,2020.12.31,손해 미확정 라임펀드 투자자 '손실 40∼80%' 배상받는다,"금감원 분쟁조정위, KB증권 불완전판매에 60∼70% 배상 결정라임 펀드 대규모 ...","분쟁/NNG,불완전판매/NNG,배상/NNG,결정/NNG,펀드/NNG,대규모/NNG,...",up
102547,2020.12.31,내년 1월 채권시장 투자심리 호전…위험자산 선호심리 약화,금융투자협회는 지난 19~23일 채권 관련 종사자 100명을 대상으로 설문한...,"채권/NNG,종사자/NNG,대상/NNG,설문/NNG,결과/NNG,토대/NNG,산출/...",up
102548,2020.12.31,"새해 연준 FOMC 투표 신규 위원 4명 ""올해 완화정책 지지""",미 워싱턴DC의 연방준비제도[AP연합뉴스] 미국의 기준금리 결정에서 투표권을 행...,"미/NNG,dc/NNG,fed/NNG,금리/NNG,결정/NNG,투표/NNG,하/XS...",up

In [51]:
df_up = df_up.reset_index(drop=True)          #새로 만들어진 데이터 프레임의 인덱스 초기화
df_down = df_down.reset_index(drop=True)

In [53]:
ngram_list = []    #n그램을 나눠서 리스트화
for i in range(len(df_up)):
    ngram_list +=df_up['ngrams'][i].split(',')
    
    
ngram_list2 = []
for i in range(len(df_down)):
    ngram_list2 +=df_down['ngrams'][i].split(',')

In [54]:
up_ngram_df = pd.DataFrame({'count': ngram_list}) #위에서 만든 리스트를 데이터프레임으로
up_count_df = pd.DataFrame(up_ngram_df['count'].value_counts()).reset_index()      #value_counts함수를 이용해서 원하는결과 만들고 인덱스 초기화

down_ngram_df = pd.DataFrame({'count': ngram_list2}) 
down_count_df = pd.DataFrame(down_ngram_df['count'].value_counts()).reset_index()

In [55]:
up_count_df.rename(columns = {'index':'ngram','count':'up_count'},inplace=True)  #컬럼명변경
down_count_df.rename(columns={'index':'ngram','count':'down_count'},inplace=True)

In [38]:
df1 =pd.merge(up_count_df,down_count_df, how='outer', on='ngram')         #
df2=df1.fillna(0) #결측치를 0으로

In [56]:
df2['total_count'] = (df2['up_count']+df2['down_count'])  #15미만의 자료 제거하기 위한total_count 구하기 
df2

                       ngram  up_count  down_count  total_count
0                       하/VV  370896.0    393226.0     764122.0
1                      하/XSV  193319.0    209538.0     402857.0
2                       되/VV  135217.0    142075.0     277292.0
3                     금리/NNG  133212.0    139601.0     272813.0
4                       보/VV   68382.0     71453.0     139835.0
...                      ...       ...         ...          ...
113798                유목/NNG       0.0         1.0          1.0
113799  인하/NNG;소식/NNG;상승/NNG       0.0         1.0          1.0
113800         물가/NNG;확산/NNG       0.0         1.0          1.0
113801  인상/NNG;지준율/NNG;오르/VV       0.0         1.0          1.0
113802              단식기도/NNG       0.0         1.0          1.0

[113803 rows x 4 columns]

In [57]:
df3 = df2[df2['total_count'] >=15]        #15미만의 자료 제거
df3

           ngram  up_count  down_count  total_count
0           하/VV  370896.0    393226.0     764122.0
1          하/XSV  193319.0    209538.0     402857.0
2           되/VV  135217.0    142075.0     277292.0
3         금리/NNG  133212.0    139601.0     272813.0
4           보/VV   68382.0     71453.0     139835.0
...          ...       ...         ...          ...
92058     육식/NNG       0.0        15.0         15.0
92059  아웃바운드/NNG       0.0        15.0         15.0
92060     다복/NNG       0.0        15.0         15.0
92061    관세화/NNG       0.0        15.0         15.0
92062     똥침/NNG       0.0        15.0         15.0

[27652 rows x 4 columns]

In [58]:
print(df3['up_count'].sum(axis=0))
print(df3['down_count'].sum(axis=0))

7809310.0
8313556.0

In [59]:
#Polarity Score 구하기
df3['polar_score'] = ((df3['up_count'] / sum(df3['up_count']) )/(df3['down_count']/sum(df3['down_count'])))

<ipython-input-59-1762ca6b58be>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['polar_score'] = ((df3['up_count'] / sum(df3['up_count']) )/(df3['down_count']/sum(df3['down_count'])))

In [60]:
df3

           ngram  up_count  down_count  total_count  polar_score
0           하/VV  370896.0    393226.0     764122.0     1.004116
1          하/XSV  193319.0    209538.0     402857.0     0.982168
2           되/VV  135217.0    142075.0     277292.0     1.013183
3         금리/NNG  133212.0    139601.0     272813.0     1.015849
4           보/VV   68382.0     71453.0     139835.0     1.018815
...          ...       ...         ...          ...          ...
92058     육식/NNG       0.0        15.0         15.0     0.000000
92059  아웃바운드/NNG       0.0        15.0         15.0     0.000000
92060     다복/NNG       0.0        15.0         15.0     0.000000
92061    관세화/NNG       0.0        15.0         15.0     0.000000
92062     똥침/NNG       0.0        15.0         15.0     0.000000

[27652 rows x 5 columns]

In [62]:
def polarity(n):                                    #폴라리티 구분 함수
    if n > 1.3:
        return 'Hawkish'
    elif n < 0.76:
        return 'Dovish'
    else:
        return 'nothing'

In [63]:
df3['polarity'] = df3['polar_score'].apply(polarity)                  #apply함수를 이용하요 폴라리티를 구하기

<ipython-input-63-775ea75c387d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['polarity'] = df3['polar_score'].apply(polarity)                  #apply함수를 이용하요 폴라리티를 구하기

In [64]:
df3

           ngram  up_count  down_count  total_count  polar_score polarity
0           하/VV  370896.0    393226.0     764122.0     1.004116  nothing
1          하/XSV  193319.0    209538.0     402857.0     0.982168  nothing
2           되/VV  135217.0    142075.0     277292.0     1.013183  nothing
3         금리/NNG  133212.0    139601.0     272813.0     1.015849  nothing
4           보/VV   68382.0     71453.0     139835.0     1.018815  nothing
...          ...       ...         ...          ...          ...      ...
92058     육식/NNG       0.0        15.0         15.0     0.000000   Dovish
92059  아웃바운드/NNG       0.0        15.0         15.0     0.000000   Dovish
92060     다복/NNG       0.0        15.0         15.0     0.000000   Dovish
92061    관세화/NNG       0.0        15.0         15.0     0.000000   Dovish
92062     똥침/NNG       0.0        15.0         15.0     0.000000   Dovish

[27652 rows x 6 columns]

In [65]:
df_Neg = df3[df3['polarity'] == 'Dovish'] #부정사전 긍정사전 만들기
df_Pos = df3[df3['polarity'] == 'Hawkish']

In [66]:
df_Neg=df_Neg.sort_values('total_count',ascending=False) #정렬하기
df_Pos=df_Pos.sort_values('total_count',ascending=False)

In [67]:
df_Pos=df_Pos.reset_index(drop=True)             #인덱스 초기화
df_Neg=df_Neg.reset_index(drop=True)

In [71]:
df_Pos.head(20) #사전 완성도를 위하여 상위 20개를 뽑아봄

            ngram  up_count  down_count  total_count  polar_score polarity
0          인상/NNG   34795.0     27256.0      62051.0     1.359029  Hawkish
1           빠르/VA   13874.0     10555.0      24429.0     1.399322  Hawkish
2          기사/NNG    9396.0      6424.0      15820.0     1.557083  Hawkish
3            가/VV    7003.0      5312.0      12315.0     1.403461  Hawkish
4          이용/NNG    5445.0      4358.0       9803.0     1.330102  Hawkish
5           시/NNG    5149.0      4053.0       9202.0     1.352448  Hawkish
6   금리/NNG;인상/NNG    4453.0      3368.0       7821.0     1.407521  Hawkish
7          긴축/NNG    4547.0      2803.0       7350.0     1.726935  Hawkish
8         스마트/NNG    4148.0      3051.0       7199.0     1.447340  Hawkish
9          무료/NNG    5115.0      1862.0       6977.0     2.924423  Hawkish
10         상담/NNG    4123.0      2704.0       6827.0     1.623233  Hawkish
11         시세/NNG    3901.0      2498.0       6399.0     1.662485  Hawkish
12          만나/VV    3974.0      2351.0       6325.0     1.799490  Hawkish
13       프리미엄/NNG    3228.0      2349.0       5577.0     1.462934  Hawkish
14         문자/NNG    3343.0      2047.0       5390.0     1.738572  Hawkish
15       출구전략/NNG    2936.0      1921.0       4857.0     1.627057  Hawkish
16         오름/NNG    2656.0      2142.0       4798.0     1.320027  Hawkish
17         조회/NNG    2505.0      1052.0       3557.0     2.534931  Hawkish
18         절상/NNG    1938.0      1562.0       3500.0     1.320830  Hawkish
19         전세/NNG    1996.0      1462.0       3458.0     1.453407  Hawkish

In [75]:
Dict_pos = df_Pos.drop([1,2,3,12])                                  #긍정사전 최종완성
Dict_pos=Dict_pos.sort_values('up_count',ascending=False)
Dict_pos=Dict_pos.reset_index(drop=True)
Dict_pos

,ngram,up_count,down_count,total_count,polar_score,polarity
0,인상/NNG,34795.0,27256.0,62051.0,1.359029,Hawkish
1,이용/NNG,5445.0,4358.0,9803.0,1.330102,Hawkish
2,시/NNG,5149.0,4053.0,9202.0,1.352448,Hawkish
3,무료/NNG,5115.0,1862.0,6977.0,2.924423,Hawkish
4,긴축/NNG,4547.0,2803.0,7350.0,1.726935,Hawkish
...,...,...,...,...,...,...
6501,계륵/NNG,9.0,6.0,15.0,1.596855,Hawkish
6502,원자재/NNG;가격/NNG;강세/NNG,9.0,6.0,15.0,1.596855,Hawkish
6503,위축/NNG;막/VV,9.0,7.0,16.0,1.368733,Hawkish
6504,랜/NNG,9.0,7.0,16.0,1.368733,Hawkish
6505,예매권/NNG,9.0,6.0,15.0,1.596855,Hawkish

In [78]:
Dict_neg = df_Neg.drop([11,12])                               #부정사전 최종완성
Dict_neg=Dict_neg.sort_values('down_count',ascending=False)
Dict_neg=Dict_neg.reset_index(drop=True)
Dict_neg

,ngram,up_count,down_count,total_count,polar_score,polarity
0,인하/NNG,18231.0,28265.0,46496.0,0.686650,Dovish
1,침체/NNG,5552.0,7887.0,13439.0,0.749397,Dovish
2,코로나/NNG,3874.0,7166.0,11040.0,0.575515,Dovish
3,금융위기/NNG,4372.0,6228.0,10600.0,0.747318,Dovish
4,실시간/NNG,3807.0,5877.0,9684.0,0.689607,Dovish
...,...,...,...,...,...,...
7043,파고든/VV,6.0,9.0,15.0,0.709713,Dovish
7044,수요/NNG;부진/NNG;우려/NNG,6.0,9.0,15.0,0.709713,Dovish
7045,일사불란/NNG,6.0,9.0,15.0,0.709713,Dovish
7046,깜짝쇼/NNG,6.0,9.0,15.0,0.709713,Dovish
7047,문지/NNG,6.0,9.0,15.0,0.709713,Dovish

In [79]:
Dict_pos.to_csv(r"C:\Users\kyt50\anaconda3\kdigital\project\긍정사전.csv", encoding='utf-8', index=False)     #저장하기
Dict_neg.to_csv(r"C:\Users\kyt50\anaconda3\kdigital\project\부정사전.csv", encoding='utf-8', index=False)